/*Import Fonts from fonts.css*/
@import url(./fonts.css);

/* import partials for global classes and variables*/

@import url(./partials/_globals.css);
@import url(./partials/_variables.css);




/*-------------------------- Started Landing Area----------------------*/
/* .site-main .landing-area .background-image{
  background: url(../img/Netflix-Background.jpg) no-repeat center/cover;
  height: 46vw;
} */

.site-main .landing-area .background-image .main-logo{
  padding: 1.5rem 3.5rem;
  width: 38%;
}

.site-main .landing-area .background-image .button-1{
  padding: 1.6% 5%;
}

.site-main .landing-area .background-image .button-1 > button{
 width: 14%;
 height: 80%;
 font-weight: 500;
 font-family: var(--Arial);
 align-content: center;
}

.site-main .landing-area .background-image .landing-titles {
  padding-top: 10%;
  padding-right: 1%;
  text-align: center;
}

.site-main .landing-area .background-image .landing-titles .titles > h1{
  font: normal bold 64px/65px var(--Arial);
}

.site-main .landing-area .background-image .landing-titles .titles > h3{
  font: normal  25px/50px var(--Arial);
}

.site-main .landing-area .background-image .landing-titles .titles > h5{
  font: normal  19px/50px var(--Arial);
}


.site-main .landing-area .background-image .landing-titles .input-box{
  padding-right: 5.5%;
}

.site-main .landing-area .background-image .landing-titles .input-box .email-input {
  width: 35%;
  padding: 20px 8px;
  border: none;
  margin: 0px;
}

.site-main .landing-area .background-image .landing-titles .input-box .get-started-button{
  width: 20%;
  padding: 20px 8px;
  margin: 0px -5px;
}

.site-main .landing-area .background-image .landing-titles .input-box .get-started-button > span{
  font: normal normal 25px var(--Arial);
}

.site-main .landing-area .background-image .landing-titles .input-box .get-started-button:focus ,.site-main .landing-area .background-image .landing-titles .input-box .email-input:focus{
  outline: none;
  animation: none;
}

/*-------------------------- Finished Landing Area----------------------*/