body{
  background-color: #000000;
  width: 100%;
  overflow-x: hidden;
  font-smooth: antialised;
}

.button-primary{
    background: var(--primary-color);
    color: whitesmoke;
}

.text-color{
    color: whitesmoke;
}