

body{
  background-color: #000000;
  width: 100%;
  overflow-x: hidden;
}

.button-primary{
    background: var(--primary-color);
    color: whitesmoke;
}

.text-color{
    color: whitesmoke;
}

.margin{
  height: 2.5vw;
  border-style: none !important;
}

.border{
  height: 0.5vw;
  width: 100%;
  background-color: rgb(71, 69, 69);
  border-style: none !important;
}



.ans{
  color: whitesmoke;
  font: normal 400 30px/30px var(--Arial);
}

.center-elements{
  text-align: center;
}
