

/* import partials for global classes and variables*/

@import "./_global.css";
/*-------------------------- Varibles of CSS----------------------*/
@import "./_variables.css";
/*-------------------------- Started Landing Area----------------------*/

.site-main .landing-area {
  position: relative;
}

.site-main .landing-area .landing-content {
  height: 46vw;
  width: 100%;
  position: relative;
  z-index: 100;
}

.site-main .landing-area .landing-content .main-logo {
  padding: 1.5rem 3.5rem;
  width: 38%;
}

.site-main .landing-area .landing-content .button-1 {
  padding: 1.6% 5%;
}

.site-main .landing-area .landing-content .button-1 > button {
  width: 14%;
  height: 80%;
  font-weight: 500;
  font-family: var(--Arial);
  align-content: center;
}

.site-main .landing-area .landing-content .landing-titles {
  padding-top: 10%;
  padding-right: 1%;
  text-align: center;
}

.site-main .landing-area .landing-content .landing-titles .titles > h1 {
  font: normal bold 64px/60px var(--Arial);
}

.site-main .landing-area .landing-content .landing-titles .titles > h3 {
  font: normal 25px var(--Arial);
  padding: 18px 0px;
}

.site-main .landing-area .landing-content .landing-titles .titles > h5 {
  font: normal 19px var(--Arial);
  padding-bottom: 15px;
  padding-top: 5px;
}

.site-main .landing-area .landing-content .input-box .email-input {
  display: inline-block;
  width: 500px;
  height: 70px;
}

.site-main .landing-area .landing-content .input-box .get-started-button {
  display: inline-block;
  height: 70px;
  width: 300px;
  vertical-align: top;
  font-size: 2rem;
  text-decoration: none;
  text-align: center;
  border: none;
}

.site-main .landing-area .landing-content .input-box .email-input:focus {
  outline: none;
}

.site-main
  .landing-area
  .landing-content
  .input-box
  .email-input:focus::placeholder,
.site-main
  .landing-area
  .landing-content
  .input-box
  .email-input:focus::placeholder::after,
.site-main
  .landing-area
  .landing-content
  .input-box
  .email-input:active::placeholder {
  position: relative;
  font-size: 14px;
  top: -25px;
  content: attr(data-placeholder);
}

.site-main .landing-area .inset-border {
  box-shadow: inset 0px 0px 100px 60px rgba(0, 0, 0, 0.9);
  position: absolute;
  width: 100%;
  height: 48.5vw;
  top: 0;
  left: 0;
  z-index: -1;
}

.site-main .landing-area .background-image .image {
  position: absolute;
  top: 0;
  left: 0;
  filter: brightness(50%);
  height: 48.5vw;
  width: 100%;
  z-index: -2;
}
/*-------------------------- Finished Landing Area----------------------*/
/*-------------------------- Started More Info Area----------------------*/

.site-main .more-info .more-info-titles .h1 {
  font: normal 700 50px/55px var(--Arial);
  margin-bottom: 1vw;
}

.site-main .more-info .more-info-titles .h3 {
  font: normal 200 28px/28px var(--Arial);
}
.site-main .more-info .kids-img {
  margin-left: 14vw;
  margin-top: 4.5vw;
  margin-bottom: 2vw;
  height: 25vw;
}
.site-main .more-info .kids-profile .more-info-titles {
  margin-top: 12vw;
}

.site-main .more-info .tv-section .more-info-titles {
  margin-top: 10vw;
  margin-left: 13vw;
}

.site-main .more-info .tv-section .tv {
  height: 30vw;
}

.site-main .more-info .download-shows .download-shows-img {
  padding: 0%;
  margin-left: 18%;
  margin-top: 7%;
  height: 25vw;
}
.site-main .more-info .download-shows .more-info-titles {
  margin-top: 21%;
  margin-left: -3%;
  padding-right: 25%;
}

.site-main .more-info .watch-everywhere .more-info-titles{
  margin-left: 27%;
  margin-top: 27%;
}

.site-main .more-info .watch-everywhere .watch-everywhere-img{
  margin-top: 10%;
  margin-left: 10%;
  margin-bottom: 8%;
  height: 25vw;
}

.site-main .more-info .watch-everywhere .more-info-titles .h3{
  font: normal 200 28px/35px var(--Arial);
}

.site-main .more-info .frequently-asked{
  align-content: center;
}

.site-main .more-info .frequently-asked .frequent-title {
  color: whitesmoke;
  font: normal 700 45px/45px var(--Arial);
  margin-bottom: 1vw;
  margin-top: 3.5vw;
  text-align: center;
}
.site-main .more-info .frequently-asked .que {
  
}
.site-main .more-info .frequently-asked .que .faqQue{
  width: 55em;
  background-color: rgb(71, 69, 69);
  margin: auto;
  padding-top: .5em;
  padding-left: .5em;
}

.site-main .more-info .frequently-asked .que .faqQue > h2{
  font: normal 400 2em/2em var(--Arial);
  color: whitesmoke;
}
/*-------------------------- Finished More Info Area----------------------*/
