/* import partials for global classes and variables*/

@import "./_global.css";
/*-------------------------- Varibles of CSS----------------------*/
@import "./_variables.css";
/*-------------------------- Started Landing Area----------------------*/
@import "./form.css";

.site-main .landing-area {
  position: relative;
}

.site-main .landing-area .landing-content {
  height: 46vw;
  width: 100%;
  position: relative;
  z-index: 100;
}

.site-main .landing-area .landing-content .main-logo {
  padding: 1.5rem 3.5rem;
  width: 38%;
}

.site-main .landing-area .landing-content .button-1 {
  padding: 1.6% 5%;
}

.site-main .landing-area .landing-content .button-1 > button {
  width: 14%;
  height: 80%;
  font-weight: 500;
  font-family: var(--Arial);
  align-content: center;
}

.site-main .landing-area .landing-content .landing-titles {
  padding-top: 10%;
  padding-right: 1%;
  text-align: center;
}

.site-main .landing-area .landing-content .landing-titles .titles > h1 {
  font: normal bold 64px/60px var(--Arial);
}

.site-main .landing-area .landing-content .landing-titles .titles > h3 {
  font: normal 25px var(--Arial);
  padding: 18px 0px;
}


.site-main .landing-area .inset-border {
  box-shadow: inset 0px 0px 100px 60px rgba(0, 0, 0, 0.9);
  position: absolute;
  width: 100%;
  height: 48.5vw;
  top: 0;
  left: 0;
  z-index: -1;
}

.site-main .landing-area .background-image .image {
  position: absolute;
  top: 0;
  left: 0;
  filter: brightness(50%);
  height: 48.5vw;
  width: 100%;
  z-index: -2;
}
/*-------------------------- Finished Landing Area----------------------*/
/*-------------------------- Started More Info Area----------------------*/

.site-main .more-info .more-info-titles .h1 {
  font: normal 700 50px/55px var(--Arial);
  margin-bottom: 1vw;
}

.site-main .more-info .more-info-titles .h3 {
  font: normal 200 28px/28px var(--Arial);
}
.site-main .more-info .kids-img {
  margin-left: 14vw;
  margin-top: 4.5vw;
  margin-bottom: 2vw;
  height: 25vw;
}

.site-main .more-info .kids-profile .more-info-titles {
  margin-top: 12vw;
}

.site-main .more-info .tv-section .more-info-titles {
  margin-top: 10vw;
  margin-left: 13vw;
}

.site-main .more-info .tv-section .tv {
  height: 30vw;
}

.site-main .more-info .download-shows .download-shows-img {
  padding: 0%;
  margin-left: 18%;
  margin-top: 7%;
  height: 25vw;
}
.site-main .more-info .download-shows .more-info-titles {
  margin-top: 21%;
  margin-left: -3%;
  padding-right: 25%;
}

.site-main .more-info .watch-everywhere .more-info-titles {
  margin-left: 27%;
  margin-top: 27%;
}

.site-main .more-info .watch-everywhere .watch-everywhere-img {
  margin-top: 10%;
  margin-left: 10%;
  margin-bottom: 8%;
  height: 25vw;
}

.site-main .more-info .watch-everywhere .more-info-titles .h3 {
  font: normal 200 28px/35px var(--Arial);
}
.site-main .more-info .frequently-asked{
  margin-bottom: 3%;
}
.site-main .more-info .frequently-asked .frequent-title {
  color: whitesmoke;
  font: normal 700 50px/50px var(--Arial);
  margin-bottom: 3.5vw;
  margin-top: 3.5vw;
  text-align: center;
}

.site-main .more-info .frequently-asked .faqQue .question,
.site-main .more-info .frequently-asked .faqQue .answer {
  padding-left: 30px;
  width: 52vw;
  text-align: left;
  margin-top: 0.3%;
  margin-bottom: 0.3%;
  border: none;
  outline: none;
  background-color: rgb(71, 69, 69);
  font: normal 400 28px/70px var(--Arial);
  color: whitesmoke;
}

.site-main .more-info .frequently-asked .faqQue .answer {
  margin-left: 23.7%;
  text-align: left;
  font: normal 400 28px/35px var(--Arial);
  margin-top: -0.09%;
  padding-top: 20px;
  padding-bottom: 10px;
}
.site-main .more-info .frequently-asked .faqQue .question-container > button :focus, 
.site-main .more-info .frequently-asked .faqQue .question-container > button :active{
  outline: none;
  border: none;
  box-shadow: none;
}
/*-------------------------- Finished More Info Area----------------------*/
/*========================== Started Footer===============================*/

.site-main .footer-class{
  margin: 4% 0% 4% 20%;
  color:  rgb(100, 96, 96);
}
.site-main .footer-class .grid{
  margin-left: 1%;
  margin-top: 3%;
  width: 65%;
}

.site-main .footer-class .grid .cell{
  font:normal  200 14px/17px var(--Arial);
  padding: 0.5% 0.5% 1% .5%;
  color:  rgb(100, 96, 96);
}
/*========================== Finished Footer===============================*/